@model Pokedex.Models.Pokemon
@{
    ViewData["Title"] = "Pokemon";
}

<div class="container text-white">
    <div class="row">
        <div class="col text-center">
            <a href="#" class="btn btn-lg btn-outline-danger text-white">001 - Bulbasaur</a>
        </div>
        <div class="col text-center">
            <h1 class="fs-1">@Model.Nome <span class="fs-2 text-secondary">Nº @Model.Numero.ToString("000")</span></h1>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-lg btn-outline-danger text-white">003 - Venusaur</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-5 p-0">
            <img class="img-fluid cursor-pointer" src="@Model.Imagem" alt="@Model.Nome">
        </div>
        <div class="col-lg-7 fs-5 mt-4">
            <p class="mb-3"><strong>Descrição:</strong> @Model.Descricao</p>
            <p class="mb-3"><strong>Gênero:</strong> @Model.Genero.Nome</p>
            <p class="mb-3"><strong>Região:</strong> @Model.Regiao.Nome</p>
            <p class="mb-3"><strong>Altura:</strong> @Model.Altura mts</p>
            <p class="mb-3"><strong>Peso:</strong> @Model.Peso kgs</p>
            <p class="fw-bold">Tipo</p>
            <div class="d-flex gap-2 my-2">
                @foreach (var tipo in Model.Tipos)
                {
                    <a href="#" class="btn btn-lg text-white"
                     style="background-color:@tipo.Tipo.Cor">@tipo.Tipo.Nome</a>
                }
            </div>
        </div>
    </div>
</div>
